.code code {
    color: black;
}

.tab, t {
    display: inline-block;
    width: 2em;
}
.variable, v {
    color: #997300;
}
.comment, c {
           color: green;
}
.text, s {
   color: blue;
}
.keyword, k {
    color: purple;
    font-weight: bold;
}