.kursiva {font-style: italic;}
h1 {font-family: 'Orbitron', sans-serif; }
h4 {clear: both;}

body{background-color: black;}

header {background-image: url("data/all_doctors_1.jpg"); background-repeat: repeat-x; color: white; text-align: center; background-color:4e1690; /*max-height: 172px;*/}
header h2 {text-aligh: center;}
nav {background-color: purple; color: pink; font-family: arial, sans-serif;}
	/* zbavení se pùvodního formátování ul a */
	nav a {text-decoration: none; display: block; color: pink; padding: 0.5ex; }
	nav ul {list-style-type: none; }
	
	/*nav.hlavny li {display: inline-block; margin: 1ex}*/
	/*nav.vedlejsi {font-size: 1em; float: left; width: 15em; }*/
	/*nav.vedlejsi li {margin: 0.5ex;}*/

	nav a:hover {background-color: pink; color: purple; }
	
aside {background-color: blue; text-decoration: none;}
#leve {background-color: blue; text-decoration: none;}

section {background-color: #2f1d93 /*darkblue*/ ; color: lightblue; padding: 0.5em;}
section h4 a {color: white;}

footer {background-color: grey; clear: both; margin-top: 1em;padding: 1em;}
footer a:hover {text-decoration: none; color: #689d99;}
#strana {background-color: #ffffff; color: #77296e;}
table, table th, table td{border: 1px solid white; border-collapse: collapse;}
.foto {float: left; margin: 1em; background-color: white; padding: 1ex;}
.foto a {text-decoration: none; color: black;}
.vsuvka {text-decoration: none; color: white;}
.vsuvka:hover {color: red;}
iframe {border: 0; max-width: 100%; }
.podtrzeni {text-decoration: underline;}




/* -------------- responzivní design ------------------------ */

	@media only screen and (min-width: 1200px) { 
body {font-size: 14px;}

h1 {font-size: 40px;}
nav {font-size: 1.3em;}
nav ul {padding-left: 1.1px;}
nav.hlavny li {display: inline-block; margin: 1ex}
nav.vedlejsi {font-size: 1em; float: left; width: 15em; }
nav.vedlejsi li {margin: 0.5ex;}
aside {float: right; width: 15em;}
#leve {float: left; width: 15em;}
section { margin-right: 16em; margin-left: 16em;}
.vsunute {float: left; margin: 1ex;}
/*.monitor {display: block;}*/
.mobil {display: none;}


		}



	@media only screen and (max-width: 1200px) {
body {font-size: 14px;}

h1 {font-size: 40px;}
nav {font-size: 1.3em;}
nav ul {padding-left: 1.1px;}
nav.hlavny li {display: inline-block; margin: 1ex}
nav.vedlejsi {font-size: 1em; float: left; width: 15em; }
nav.vedlejsi li {margin: 0.5ex;}
aside {float: right; width: 15em;}
#leve {float: left; width: 15em;}
section { margin-right: 16em; margin-left: 16em; }
.vsunute {float: left; margin: 1ex;}
/*.monitor {display: block;}*/
.mobil {display: none;}

		}

@media only screen and (max-width: 1000px) {
body {font-size: 14px;}

h1 {font-size: 40px;}
nav {font-size: 1.3em;}
nav ul {padding-left: 1.1px;}
nav.hlavny li {display: inline-block; margin: 1ex}
nav.vedlejsi {font-size: 1em; float: left; width: 15em; }
nav.vedlejsi li {margin: 0.5ex;}
aside {float: right; width: 15em;}
#leve {float: left; width: 15em;}
section { margin-right: 16em; margin-left: 16em; }
.vsunute {float: left; margin: 1ex;}
/*.monitor {display: block;}*/
.mobil {display: none;}

		}	


	@media only screen and (max-width: 850px) {
body {font-size: 14px;}

h1 {font-size: 40px;}
nav {font-size: 1.3em;}
nav ul {padding-left: 1.1px; }
nav.hlavny li { margin: 1ex; display: block;}
nav.vedlejsi {font-size: 1em; float: left; width: 15em; }
nav.vedlejsi li {margin: 0.5ex;}
aside {float: right; width: 15em;}
#leve {float: left; width: 15em;}
section { margin-right: 0 ;/*16em*/ margin-left: 0;/*16em*/ clear: both;}
.vsunute {float: left; margin: 1ex}
/*.monitor {display: block;}*/
.mobil {display: none;}


		}


	@media only screen and (max-width: 700px) {
body {font-size: 16px;}

h1 {font-size: 40px;}
nav {font-size: 1em;}
nav ul {padding-left: 1.1px; }
nav.hlavny li { margin: 1ex; display: block;}
nav.vedlejsi {font-size: 1em; float: none; width: 15em; }
nav.vedlejsi li {margin: 0.5ex;}
/*aside {width: 98%; float: none;margin-top: 1em;}*/
/*#leve {width: 98%; float: none;margin-top: 1em;}*/
aside {display: none;}
section {margin-right: 0;margin-left: 0; margin-top: 1em;}
.vsunute {float: left;}
/*.monitor {display: block;}*/
.mobil {display: none;}


		}



	@media only screen and (max-width: 400px) {
body {font-size: 18px;}

h1 {font-size: 40px;}
nav {font-size: 1em;}
nav ul {padding-left: 1.1px;}
nav.hlavny li {margin: 1ex; display: block;}
nav.vedlejsi {font-size: 1em; width: 98%; }
nav.vedlejsi li {margin: 0.5ex;}
/*aside {width: 98%; float: none;margin-top: 1em;}*/
/*#leve {width: 98%; float: none;margin-top: 1em;}*/
aside {display: none;}
section {margin-left: 0; margin-right: 0; margin-top: 1em;}
.vsunute {float: none;}
.monitor {display: none;}
.mobil {display: block;}


		}
	