header {display:none;}
nav {display:none;}
footer {display:none;}
aside {display:none;}
.zobraz {display: none;}
.mobil {display:none;}
.podtrzeni {text-decoration: underline;}
.foto {float: left; margin-right: 1px;}
h4 {clear: both;}

/*header h1 {display: block;}*/
/*footer span {display: inline;}*/